






.contact {
    padding-bottom: 80px;
    background-color: black;
    padding-top: 6%;
    min-height: 100vh;
    h1, p, ul, li {
        color: black;
    }
    h1 {
        margin: 0;
    }
    .card {
        background-color: white;
        padding: 20px;
    }
}