


.upcoming-shows {
    padding-bottom: 80px;
    background-color: black;
    padding-top: 6%;
    min-height: 100vh;
    p, a {
       font-size: 17px;
    }
    h2 {
        margin-top: 0;
    }
    .show {
        background-color: white;
        padding: 30px;
        margin-bottom: 20px;
    }
}