



.work {
    padding-bottom: 80px;
    h1, p, ul, li {
        color: black;
    }
    h1 {
        margin: 0;
    }
    background-color: black;
    padding-top: 6%;
    min-height: 100vh;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media(max-width: 1400px){
            grid-template-columns: 1fr;
        }
        @media(max-width: 800px){
            margin-top: 8%;
        }
        .card {
            padding: 20px;
            background-color: white;
            position: relative;
        }
    }
}